<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Biblioteca de Talca{{ settings.PROJECT_NAME }} {{ settings.PROJECT_TITLE}} {{ settings.PROJECT_VERSION }}</title>

        {% include "head_css.html" %}

        {% block others_css %}
        {% endblock %}
    </head>

    <body>
        <!-- navbar -->
        {% block navbar %}
            {% include "navbar.html" %}
        {% endblock %}

        <!-- main content -->
        <main role="main" class="container-fluid">

        {% if messages %}
            <p></p>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong>{{ message }}</strong><br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        </main>

        <!-- footer -->
        {% block footer %}
        <hr/>
        <div class="text-center">
                Si tienes alguna duda, consulta o sugerencia no dudes en llamarnos al (71) 263 5547 o escríbenos al mail bibliotecamunicipal@talca.cl y nos contactaremos contigo a la brevedad.
                <br>
                <a class="grey-text text-lighten-3" href="https://www.google.com/maps?channel=fs&client=ubuntu&q=biblioteca+municipal+de+talca&um=1&ie=UTF-8&sa=X&ved=2ahUKEwig9cvq7ab4AhW5uZUCHVL2A3QQ_AUoAXoECAIQAw">Ubicación</a>
            <img src="/static/app/media/muni.png" alt="img" style="max-width: 100px; max-height: 50000px"></img>
            {{ settings.PROJECT_NAME }} {{ settings.PROJECT_TITLE}} {{ settings.PROJECT_VERSION }}

        </div>
        {% endblock %}

        {% include "javascript.html" %}

        {% block others_js %}
        {% endblock %}
    </body>
</html>
