<!-- static navbar -->
<head>
	<link rel="stylesheet" href="/static/members/media/foto.css">
	<link rel="icon" href="/static/app/media/libros.png">
</head>
<nav class="navbar navbar-expand-sm navbar-dark" style="background:#9b391e;" >
	<div class="container-fluid">

		<a class="navbar-brand " href="/">
			<img src="/static/app/media/libros.png" alt="img" style="max-width: 40px; max-height: 40px"></img> {{ settings.PROJECT_NAME }}</a>
	</div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if user.groups.all.0|stringformat:"s" == "Bibliotecario" %}
								    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href=""
                            role="button" data-bs-toggle="dropdown"><i class="bi bi-bar-chart"></i> Gráficos </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/bibliotecario/grafico/"> Libros </a></li>
                        </ul>
                    </li>
										<li class="nav-item active">
                        <a class="nav-link" href="/bibliotecario/libros/"><i class="bi bi-book"></i> Libros </a>
                    </li>
										<li class="nav-item active">
												<a class="nav-link" href="/bibliotecario/autor/"><i class="bi bi-vector-pen"></i> Autores </a>
										</li>
										<li class="nav-item active">
												<a class="nav-link" href="/bibliotecario/genero/"><i class="bi bi-bookshelf"></i> Géneros </a>
										</li>
										<li class="nav-item active">
												<a class="nav-link" href="/bibliotecario/editorial/"><i class="bi bi-stack-overflow"></i> Editoriales </a>
										</li>
									 	<li class="nav-item active">
                        <a class="nav-link" href="/admin/members/libro/"><i class="bi bi-person-lines-fill"></i> Admin </a>
                    </li>

                {% elif user.groups.all.0|stringformat:"s" == "Lector" %}
										<li class="nav-item active">
                        <a class="nav-link" href="/lector/"><i class="bi bi-journal-text"></i> Historial de pedidos </a>
                    </li>
										<li class="nav-item active">
                        <a class="nav-link" href="admin/members/libro/"><i class="bi bi-person-lines-fill"></i> Admin </a>
                    </li>

                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        | <i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">
                        <i class="bi bi-box-arrow-right"></i> Salir</a>
                </li>

            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login'%}?next={{request.path}}"><i class="bi bi-box-arrow-left"></i> Ingresar</a>
                </li>
            {% endif %}
        </ul>
        </div>
</nav>
