
{% extends "base.html" %}

{% block content %}

<!--https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/-->
<script type="text/javascript">
  // Code goes here
        // JSON to CSV Converter
        function extraer_csv(graph) {
          if(graph == "grafico1"){
            var graph = {{ dataarticulos|safe }};
            var archivo = "cantidad de libros por género";
            var columna_1 = "Genero";
            var columna_2 = "Cantidad_libros";
          }

          if(graph == "grafico2"){
            var graph = {{ dataejemplares|safe }};
            var archivo = "ejemplares de libros";
            var columna_1 = "Libro";
            var columna_2 = "Cantidad_ejemplares";
          }

          // referencia: https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/
          var array = typeof graph != 'object' ? JSON.parse(graph) : graph;
           console.log(array[0]);
           var contenido = '';
           contenido += columna_1 + "," + columna_2 + '\r\n';

           for (var i = 0; i < array.length; i++) {
             var fila = '';
             for (var index in array[i]) {
               if (fila != '') fila += ','
               fila += array[i][index];
             }
             contenido += fila + '\r\n';
           }

           var link = 'data:text/csv;charset=utf-8,' + escape(contenido);
           $.ajax({
             url: link,
             method: 'GET',
             xhrFields: {
               responseType: 'blob'
             },
             xhr: function () {

               var xhr = new window.XMLHttpRequest();
               xhr.addEventListener("progress", function (evt) {

                 if(evt.lengthComputable) {
                   var percentComplete = evt.loaded / evt.total;
                   console.log(percentComplete);
                 }
               }, false);
               return xhr;
             },
             success: function (data) {
               var a = document.createElement('a');
               var url = window.URL.createObjectURL(data);
               a.href = url;
               a.download = archivo + ".csv";
               document.body.append(a);
               a.click();
               a.remove();
               window.URL.revokeObjectURL(url);
             }
           });
         }

</script>
<p></p>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                <!--<button onclick="window.location.href='/bibliotecario/grafico/csv/'" value=dataarticulos>CSV</button>-->
                <!--<button onclick="myFuncion('dataarticulos')" title="exportar"> CSV</button>-->
                <button id='generar' type="submit" class="btn btn-success" onclick="extraer_csv('grafico1');">CSV</button>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                <!--<a href="csv/{{dataarticulos}}">CSV</a>-->
                <!--<button onclick="swal('a');">CSV</button>-->
              <button id='generar' type="submit" class="btn btn-success" onclick="extraer_csv('grafico2');">CSV</button>
          </div>
      </div>
    </div>


<p></p>
request.session['num_visitas']: {{ num_visitas }}

{% endblock %}

{% block others_js %}


<script>
$(document).ready(function() {
    // https://canvasjs.com/jquery-charts/
    let datalibros = {{ dataarticulos|safe }};
    let options1 = {
        title: {
            text: "Libros por género"
        },
        animationEnabled: true,
        exportEnabled: true,
        //axisx: axisX,
        data: [
            {
            type: "pie", //change it to line, area, column, pie, etc
            //lineColor:"green",
            //lineDashType: "dash",
            dataPoints: datalibros,
            }
        ],
        axisX:{
            title:"Genero",

            //interval: 1,

        },
        axisY:{
            title:"Libros",
        },
    };


    let dataej = {{ dataejemplares|safe }};
    let options2 = {
        title: {
            text: "Ejemplares de libros"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
          {
            type: "column",
            dataPoints: dataej
            }
        ],
        axisX:{
            title:"Libro",
        },
        axisY:{
            title:"Ejemplares disponibles",
            interval: 1,
        },
    };

    //a = $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer2").CanvasJSChart(options2);
    //CanvasJSDataAsCSV(a, "a.csv");

});
</script>

{% endblock %}
