{% extends "base.html" %}

{% block content %}

<p></p>
<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Catálogo de libros</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Autor(es)</th>
                        <th>Genero</th>
                        <th>Editorial</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in libros %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.titulo }}</td>
                            <td>
                            <img src="{{x.imagenes.url}}" height="100">
                            </td>                            <td>
                              {% for autor in x.autores.all %}
                                  {{ autor }}
                                  <p></p>
                              {% endfor %}
                            </td>
                          <!--  <td>{{ x.autores }}</td>-->
                            <td>{{ x.genero }}</td>
                            <td>{{ x.editorial }}</td>
                            <!--<td>
                            {% for autores in x.autor.all %}
                                {{ autor }}
                            {% endfor %}
                            </td>-->
                            <td>
                              <!--href="{% url 'agregar' x.id %}"-->
                              <a name="" id="" class="btn btn-info" href="#" role="button">Añadir </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                  {% include "prestamo.html" %}
            </div>
        </div>
    </div>
</div>
</div>
<script>
  /**
  * Evento para añadir un producto al carrito de la compra
  */
  function agregar(evento) {
      // Anyadimos el Nodo a nuestro carrito
      carrito.push(evento.target.getAttribute('marcador'))
      // Actualizamos el carrito
      renderizarCarrito();
      // Actualizamos el LocalStorage
      guardarCarritoEnLocalStorage();
  }

</script>


{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": false, "className": "dt-right", "width": "10%"},
        ],
    });
});
</script>
{% endblock %}
