{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}

<style>
  #body{
    font-family: times_new_roman;
    font-size: 1.25em;
  }
  .card{
    background:   #fff1fa ;
    color:  #530039 ;
  }
</style>
<div id="body" class="row justify-content-center">
  <p></p>
    <div class="col-3">
        {% if form.errors %}
            <div class="alert alert-danger">
                El usuario y/o clave son incorrectos, intente de nuevo.
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-danger">
                    Esta cuenta no tiene acceso a esta página.
                    Para continuar, inicie sesión con una cuenta que tenga acceso.
                </div>
            {% endif %}
        {% endif %}

        <div class="card">
            <div class="card-header">
                Ingrese a la biblioteca!
            </div>
            <div class="card-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="mb-3 mt-3">
                    <label for="id_username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" autofocus autocapitalize="none"
                        autocomplete="username" maxlength="150" required id="id_username"
                        name="username">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Clave:</label>
                    <input type="password" class="form-control" name="password"
                        autocomplete="current-password" required id="id_password">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            </div>
        </div>
    </div>

    <div class="col-5">
        <div class="card">
            <div class="card-header">
                Para recordar
            </div>
            <div class="card-body">
                <p>superuser: Administración total (interfaz admin Django).</p>
                <ul>
                    <li>usuario: <b>noefa@gmail.com</b> clave: <b>192837465$</b></li>
                </ul>
                <p>Bibliotecario: Gestiona prestamos y libros</p>
                <ul>
                    <li>usuario: <b>ngventure@gmail.com</b> clave: julianblackthorn<b></b></li>
                    <!--<li>usuario: <b>jobooksmin@gmail.com</b> clave: <b>btsbtsbtsbtsbtsbtsbts</b></li>-->
                </ul>

                <p>Lector: Solicita y revisa préstamos.</p>
                <ul>
                    <li>usuario: <b>ironbooky@gmail.com</b> clave: <b>alexelcapo</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
